<button (click)="activeTab('all')" class="tab">ALL</button>
<button (click)="activeTab('active')" class="tab">Active</button>
<button (click)="activeTab('completed')" class="tab">Completed</button>

<div class="text-input">
  <input type="text"
         #todoVal
         (keyup.enter)="addTodo(todoVal.value); todoVal.value = ''"
          placeholder="input text">
  <button (click)="addTodo(todoVal.value); todoVal.value = ''">add</button>
</div>

<ul>
  <li *ngFor="let todo of todoList">
    <button (click)="updateTodo({id: todo.id, value: todo.value, isActive: false})"
            *ngIf="todo.isActive" class="compl-button">complete
    </button>
    <b *ngIf="!todo.isActive">Completed</b>
    <span *ngIf="todo.id != changeId" (dblclick)="changeItem(todo.id)">{{todo.value}}</span>
    <input *ngIf="todo.id == changeId"
           #changeTodo
           type="text" value="{{todo.value}}"
           (blur)="updateTodo({id: todo.id, value: changeTodo.value, isActive: todo.isActive})"
           autofocus>
    <button (click)="removeTodo(todo.id)" class="remove-button">remove</button>
  </li>
</ul>
