<h1> TODO </h1>

<app-todo-list
  [todoList]="todoPortion"
  (add)="addTodo($event)"
  (complete)="complete($event)"
  (remove)="remove($event)"
  (changeTab)="changeTab($event)">
</app-todo-list>

<app-todo-pagination
  [curPage]="curPage"
  [lastPage]="lastPage"
  (left)="pageLeft()"
  (right)="pageRight()">
</app-todo-pagination>

<app-todo-info
  [todoList]="todoList"
  [activeItems]="activeItems"
  [complItems]="complItems"
  (delAll)="deleteAll($event)"
  (complAll)="completeAll($event)"
></app-todo-info>

<router-outlet></router-outlet>
